@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  /*container*/
  align-items: center;
  /* align-items: center;
  justify-items: center;*/
  justify-content: center;
  padding: 0%;
  margin: auto;
  position: relative;
  background: white;
  display: grid;
  grid-template-columns: 35% 40% 35%;
  grid-template-rows: 50px 800px 70px;
  grid-row-gap: 30px;
  grid-template-areas: "titulo  titulo"
    "esquerda direitaa "
    "footer footer";
}

.top {
  top: 30%;
  left: 370px;
  position: relative;
  text-align: center;
  background: white;
  grid-area: titulo;
}

.esquerda {
  top: -20px;
  position: relative;
  background: white;
  grid-area: esquerda;
  left: 250px;
}

.direita {
  position: relative;
  left: 290px;
  background: white;
  grid-area: direitaa;
}

.meio {
  position: relative;
  top: -903px;
  left: -280px;
  background: white;
  grid-area: meio;

}

.rodape {
  position: relative;
  text-align: center;
  background: white;
  grid-area: footer;
  left: 420px;
  top: -35px;

}

.checkbox {
  padding: 6px;
}

.checkbox input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox label {
  position: relative;
  padding-left: 2.2em;
  display: inline-block;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
  background: #FFF;
  margin-right: 0.5em;
  border: 1px solid #616464;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.checkbox label::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 0.75em;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: #FFF;
  opacity: 0;
  transition: all 0.2s ease;
}

.checkbox label:focus::before,
.checkbox label:hover::before {
  background: #DDD;
}

.checkbox input:checked+label::before {
  background: #228b22;
  border-color: #228b22;
}

.checkbox input:checked+label::after {
  opacity: 1;
}

.input-single {
  position: relative;
  width: 200px;
  margin: 14px 0;
}

.input {
  padding: 5px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  font-size: 13;
  outline: 0;
}

form .input-single label {
  position: absolute;
  left: 0;
  bottom: 5px;
  cursor: text;
  transition: all 0.6s ease-out;
  color: #808080;
}

form .input-single .input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #808080;
  padding: 5px;
  outline: 0;
  font-size: 16px;
}

form .input-single .input:focus~label,
form .input-single .input:valid~label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #29b6c5;
}

.textarea {
  resize: none;
  text-align: start;
  background-color: #eeeeee;
  color: #666666;
  padding: 2em;
  font-family: "Heebo", sans-serif;
  font-size: 13px;
  border-radius: 10px;
  border: 2px solid;
  word-wrap: break-word;
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
  word-wrap: break-word;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
  word-wrap: break-word;
}

form h1 {
  font-size: 20px;
  color: #494440;
  padding: 5px;
}

form h2 {
  color: #494440;
  font-size: 19px;

}

form p {
  padding: 0px;
  color: #29b6c5;
  font-size: 22px;
}

form input[type=submit] {
  padding: 10px 30px;
  border: 0;
  border-radius: 10px;
  background-color: #045b8f;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

*,

*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form input[type=date] {
  background-color: #045b8f;
  position: relative;
  transform: translate(-1%, 50%);
  top: 0%;
  left: 0%;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

input::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 0px;
  cursor: pointer;
  border-radius: 3px;
}

#data {
  top: 14px;
  padding: 0px;
  font-size: 15px;
}

@media screen and (max-width: 1000px) {

  body {
    min-height: 100vh;
    max-width: 1500px;
    margin: auto;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: visible;
  }

  .meio {

    left: 10px;

  }
}

@media screen and (max-width: 480px) {

  body {
    min-height: 100vh;
    max-width: 1500px;
    margin: auto;
    background-position: center;
    background-size: cover;
    overflow-y: visible;
    overflow-x: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50px 800px 70px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: start;
    align-items: start;
    grid-template-areas: " titulo"
      "esquerda"
      "direitaa "
      "meio"
      "footer";

  }

  .top {
    padding: 5px;
    top: 11px;
    grid-area: titulo;
    left: -10px;
  }


  .direita {
    grid-area: direitaa;
    left: -50px;
  }

  .esquerda {
    grid-area: esquerda;
    top: 38px;
    left: -50px;

  }

  .rodape {
    padding: 5px;
    grid-area: footer;
    top: 1220px;
    left: -50px;
  }

  .meio {
    grid-area: meio;
    top: 770px;
    left: -50px;

  }
}

@media screen and (max-width: 360px) {

  body {
    min-height: 100vh;
    max-width: 1500px;
    margin: auto;
    background-position: center;
    background-size: cover;
    overflow-y: visible;
    overflow-x: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50px 800px 70px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: start;
    align-items: start;
    grid-template-areas: " titulo"
      "esquerda"
      "direitaa "
      "meio"
      "footer";

  }

  .top {
    padding: 5px;
    top: 11px;
    grid-area: titulo;
    left: -10px;
  }

  .direita {
    grid-area: direitaa;
    left: -50px;

  }

  .esquerda {
    grid-area: esquerda;
    top: 38px;
    left: -50px;

  }

  .rodape {
    padding: 5px;
    grid-area: footer;
    top: 1220px;
    left: -50px;
  }

  .meio {
    grid-area: meio;
    top: 770px;
    left: -50px;

  }
}